$red: #FF0000;
$yellow: #FFFF00;
$blue: #0000FF;
$pink: #FF00FF;
$green: #00FF00;

body {
    background-color: #000000;
    color: white;
}

ul.line {
    
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
        width: 10px;
        height: 20px;
        border-radius: 15px;
        margin: 0 10px;

        &.red {
            background-color: $red;
        }

        &.blue {
            background-color: $blue;
        }

        &.yellow {
            background-color: $yellow;
        }

        &.pink {
            background-color: $pink;
        }

        &.green {
            background-color: $green;
        }
    }
}